{% extends "layout.html" %}

{% block title %}
SELL
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <div class="mb-3">
        <select id="symbol" name="symbol">
            <option value="symbol">Symbol</option>
            {% for index in list %}
            <option value="{{ index.symbol }}">{{ index.symbol }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="share" name="shares" placeholder="Shares" type="number" min="1">
    </div>
    <button class="btn btn-primary" type="submit">SELL</button>
</form>
{% endblock %}