{% extends "layout.html" %}

{% block title %}
PORTFOLIO
{% endblock %}

{% block main %}
<main>
    <div class="container">
        <table id="table" data-toggle="table" data-filter-control="true" data-show-search-clear-button="true"
            data-sortable="true" classes="table-sm" data-pagination="true" data-show-columns="true"
            data-show-columns-toggle-all="true" class="table-responsive">
            <thead>
                <tr>
                    <!--special characters and spaces not allowed in data-field name-->
                    <th data-field="mach_id" data-filter-control="input" data-sortable="true">Product ID</th>
                    <th data-field="columnA" data-filter-control="input" data-sortable="true">Location</th>
                    <th data-field="columnB" data-filter-control="input" data-sortable="true">Brand</th>
                    <th data-field="columnC" data-filter-control="input" data-sortable="true">Function</th>
                    <th data-field="columnD" data-filter-control="input" data-sortable="true">Status</th>
                    <th data-field="columnE" data-filter-control="input" data-sortable="true">Product Name</th>
                    <th data-field="columnF">Adres</th>
                </tr>
            </thead>
            <tbody>
                {% for row in tableA %}
                <tr id="{{ row.MACH_ID }}">
                    <!--special characters and spaces not allowed in data-field name-->
                    <td>{{ row.MACH_ID }}</td>
                    <td>{{ row.LOCATION }}</td>
                    <td>{{ row.BRAND }}</td>
                    <td>{{ row.FUNCTION }}</td>
                    <td>{{ row.STATUS }}</td>
                    <td>{{ row.PRODUCTNAME }}</td>
                    <td><button onclick="getIndex(this)" class="btn btn-primary btn-sm">Go</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form id="dummyForm" method="post">
            <input type="hidden" autocomplete="off" id="username" name="username" placeholder="Username" type="text"
                value="a">
        </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <script
        src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script>
        function getIndex(x) {
            defvalue = x.parentElement.parentElement.getAttribute("id");
            document.getElementById("username").setAttribute("value", defvalue);
            document.getElementById("dummyForm").submit();
        }
    </script>
</main>

{% endblock %}