{% extends "layout.html" %}

{% block title %}
PORTFOLIO
{% endblock %}

{% block main %}
<form action="/qr3" method="post">
    <div>
        <h1>Enter Your QR Code Link to Generate</h1>
        <img src="{{ text }}" onerror='this.style.display = "none"' width="600" height="600">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="qr" name="qr" placeholder="Paste Your Link Here" type="qr">
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Generate QR Code</button>
</form>
{% endblock %}